library "jenkinsLibrary@v0.2.0"

def configuration = [
   general: [
      organizationName: 'Guest', 
      projectName: 'ShuvDemo'
   ],
   notification: [
      targets: 'shuv',
      shuvEnvironment: 'prod'
   ],
   artifacts: [
      uploadDestinations: 'S3',
      bucketName: 'loupe-shuv10032-prod',
      projects: 'Guest/ShuvDemo',
      generateSimInstaller: true,
      simInstallerUserFiles: '',
      simInstallerHmiFiles: ''
   ],
   build: [
      releaseBranch: 'release/demoSystem',
      asConfigsPhysical: 'X20CP1584',
      asConfigsSim: 'X20CP1584',
      projectPath: 'asProject',
      revInfoPath: 'Logical/Shuv/Tasks/Revision/RevInfo.var',
      buildToolVersion: 'feature/installerSupport'
   ]
]

pipeline {
   agent {
      label 'windows-automation-studio'
   }
   options {
      timestamps()
      quietPeriod(0)
      ansiColor('xterm')
      skipDefaultCheckout()
   }

   stages {
      stage('Init') {
         steps {
            script {
               initStage(config: configuration)
            }
         }
      }
      stage('Checkout') {
         steps {
            script {
               checkoutStage(config: configuration)
            }
         }
      }
      stage('Build') {
         steps {
            script {
               buildStage(config: configuration)
            }
         }
      }
      stage('Package') {
         steps {
            script {
               packageSimulatorStage(config: configuration)
            }
         }
      }
      stage('Upload') {
         steps {
            script {
               uploadStage(config: configuration)
            }
         }
      }
   }
   post {
      always {
         script {
            postStage(config: configuration)
         }
      }
   }
}
